#DON'T ADD ANYTHING EXCEPT DOTFILES
#BUT NO DOTFOLDERS
/*
!.*
.*/

#ADD THESE DOTFOLDERS/Files
!.font*
!.texlive

!.config/
.config/*
!.config/bspwm
!.config/kdeglobals
!.config/spectaclerc
!.config/rofi
!.config/texstudio
!.config/gtk*
!.config/dolphinrc
!.config/QtProject.conf

#BUT EXCLUDE SPECIFIC DOTFILES ANYWAY
*history*
*.log
.lesshst
.Xauth*
*.pem
