body {{
	--text-normal: {foreground};
  --text-muted {foreground};
	--text-faint {foreground};
	--text-on-accent	{foreground};
	--text-on-accent-inverted	{foreground};
	--text-success {foreground};
	--text-warning {foreground};
	--text-error {foreground};
	--text-accent {foreground};
	--text-accent-hover	{foreground};

	--background-primary: {background};
	--background-primary-alt: color-mix(in srgb,{background} 95%,white);
	--background-secondary: color-mix(in srgb,{background} 80%,black);
	--background-secondary-alt: color-mix(in srgb,{background} 80%,black);
	
  --background-modifier-border:	{color2};
	--background-modifier-border-hover:	{background};
	--background-modifier-border-focus:	{background};


	--background-modifier-error-rgb:	{background};	
	--background-modifier-error:	{background};
	--background-modifier-error-hover:	{background};
	--background-modifier-success-rgb:	{background};
	--background-modifier-success:	{background};
	--background-modifier-message: {background};
	--background-modifier-form-field:	{background};

	--ribbon-background: color-mix(in srgb,{background} 50%,black);
	--titlebar-background-focused: color-mix(in srgb,{background} 50%,black);

	.tree-item.nav-folder:not(.is-collapsed) {{
    border: 1px solid {color2};
    border-radius: 8px;
    padding-right: 8px;
    margin-bottom: 4px;
  }}
  h1 {{
    border-bottom: 2px solid {color2};
    padding-bottom: 10px;
  }}
}}
